@import "./assets/fonts/fonts.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 236 21% 11%;
    --foreground: 210 40% 98%;
    --card: 240 27% 10%;
    --card-foreground: 210 40% 98%;
    --popover: 240 27% 15%;
    --popover-foreground: 0 0% 98%;
    --primary: 246 15% 42%;
    --primary-foreground: 0 0% 90%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 97.5%;
    --ring: 246 15% 42%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  :root {
    --primary-800: 236 27% 25%;
    --primary-foreground-800: 222.2 47.4% 1.2%;

    --font-sans:
      "Lexend", "Inter", system-ui, -apple-system, BlinkMacSystemFont,
      "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif,
      "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
      "Noto Color Emoji";
    --radius: 0.5rem;
    --opacity: 0.93;
  }

  * {
    user-select: none;
    border-color: theme("colors.border");
  }

  body {
    font-feature-settings: "rlig" 1, "calt" 1;
    overflow: hidden;
    background: hsl(var(--background) / clamp(0, var(--opacity), 0.98));
    color: theme("colors.foreground.DEFAULT");
  }

  :not(input):not(textarea):not(select):not(a):not(button):not(button *):not(a *):not(.select-text):not(code) {
    user-select: none;
    cursor: default;
  }

  [data-radix-popper-content-wrapper] {
    z-index: 50 !important;
  }

  html,
  body,
  #root {
    min-height: 100vh;
  }

  #root {
    display: flex;
    flex-direction: column;
  }

  html {
    overscroll-behavior: none;
  }
}

body:has(.app-bg) {
  position: relative;

  &::before {
    content: "";
    display: block;
    inset: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background: url("@/assets/app-bg.webp") 50% 0 no-repeat;
    background-size: cover;
    opacity: 0.2;
    z-index: -1;
  }
}

.scroller {
  scrollbar-gutter: stable;
}

.scroller::-webkit-scrollbar-button:vertical:start:increment,
.scroller::-webkit-scrollbar-button:vertical:end:decrement,
.scroller::-webkit-scrollbar-button:horizontal:start:increment,
.scroller::-webkit-scrollbar-button:horizontal:end:decrement {
  display: none;
}

.scroller::-webkit-scrollbar {
  width: 15px;
}

.scroller::-webkit-scrollbar-thumb {
  border-radius: 10px;
  border: 3px solid transparent;
  border-right-width: 4px;
  background-clip: padding-box;
  background-color: hsl(0, 0%, 80%);
}

.scroller::-webkit-scrollbar-thumb:active {
  background-color: hsl(0, 0%, 61%);
}
.scroller::-webkit-scrollbar-button {
  width: 15px;
  height: 15px;
  border: 3px solid transparent;
  border-right-width: 4px;
  background-clip: padding-box;
  background-position: center;
  background-repeat: no-repeat;
}

.scroller::-webkit-scrollbar-button:vertical:decrement {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 9 9'%3E%3Cpath fill='hsl(0, 0%, 80%)' d='m5.7 1.7 3.1 4.2c.6.9-.1 2.1-1.2 2.1H1.4C.3 8-.4 6.8.2 5.9l3.1-4.2c.5-.9 1.9-.9 2.4 0z' /%3E%3C/svg%3E");
}
.scroller::-webkit-scrollbar-button:vertical:increment {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 9 9'%3E%3Cpath fill='hsl(0, 0%, 80%)' d='m5.7 7.3 3.1-4.2C9.4 2.2 8.7 1 7.6 1H1.4C.3 1-.4 2.2.2 3.1l3.1 4.2c.5.9 1.9.9 2.4 0z' /%3E%3C/svg%3E");
}
.scroller::-webkit-scrollbar-button:vertical:active:decrement {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 9 9'%3E%3Cpath fill='hsl(0, 0%, 61%)' d='m5.7 1.7 3.1 4.2c.6.9-.1 2.1-1.2 2.1H1.4C.3 8-.4 6.8.2 5.9l3.1-4.2c.5-.9 1.9-.9 2.4 0z' /%3E%3C/svg%3E");
}
.scroller::-webkit-scrollbar-button:vertical:active:increment {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 9 9'%3E%3Cpath fill='hsl(0, 0%, 61%)' d='m5.7 7.3 3.1-4.2C9.4 2.2 8.7 1 7.6 1H1.4C.3 1-.4 2.2.2 3.1l3.1 4.2c.5.9 1.9.9 2.4 0z' /%3E%3C/svg%3E");
}

.tag-quest,
.tag-dungeon,
.tag-monster,
.tag-item,
.guide-step {
  display: inline-flex;
  align-items: baseline;
  border-radius: 20px;
}

.tag-quest {
  color: #eb5bc6;
}

.tag-dungeon {
  color: #2cc75d;
}

.tag-monster {
  color: #d94a4b;
}

.tag-item {
  color: #db9542;
}

.guide-step {
  text-decoration: underline;
  color: #8e7cc3;
}

.tag-monster img,
.tag-item img,
.tag-dungeon img,
.tag-quest img,
.guide-step img {
  align-self: flex-end;
  max-width: 1.5em;
  max-height: 1.5em;
  margin-right: 0.2em;
}

.guide-step img[data-icon="true"] {
  margin-right: 0;
}

.guide {
  /* List styles */
  ul,
  ol {
    padding: 0 1rem;
    margin: 0.5rem 0.5rem 0.5rem 0.4rem;
  }

  ul li p,
  ol li p {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
  }

  /* Task list specific styles */
  ul[data-type="taskList"] {
    list-style: none;
    margin-left: 0;
    padding: 0;
  }

  ul[data-type="taskList"] li {
    align-items: flex-start;
    display: flex;
  }

  ul[data-type="taskList"] li > label {
    flex: 0 0 auto;
    margin-right: 0.5rem;
    user-select: none;
  }

  ul[data-type="taskList"] li > div {
    flex: 1 1 auto;
  }

  ul[data-type="taskList"] ul[data-type="taskList"] {
    margin: 0;
  }

  .button-bg-color {
    background-color: rgb(31 41 55);
    color: white;
  }

  .img-small {
    width: 20%;
    margin: auto;
  }

  .img-medium {
    width: 50%;
    margin: auto;
  }

  .img-large {
    width: 100%;
    margin: auto;
  }
}
